<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="User Suite">
    <test name="testGetUserByEmail">
        <parameter name="email"
                   value="jellofirsthand@gaa1iler.site"/>
        <classes>
            <class name="user.UserIT"/>
        </classes>
    </test>
</suite>
